absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
facenet-pytorch
fer
ffmpeg
filelock
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio6
h5py
idna
imageio
imageio-ffmpeg
importlib-metadata
jax
Jinja
jsonschema
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy
mpmath
networkx
# freeglut3
# libgtk2
# numpy

oauthlib
opt-einsum
packaging
pandas
Pillow
proglog0
protobuf
pyarrow
pyasn
pyasn1-modules
pydeckb
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shimost
requests
requests-oauthlib
rich
rsa
scipy
six
smmap
streamlit
numpy
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
toml
toolz
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib
validators
watchdog
Werkzeug
wrapt
zipp

opencv-python-headless